{{define "head"}}
    <script src="/static/js/behavior.js" type="text/javascript"></script>
    <title>{{.title}}</title>
{{end}}

{{define "now_playing"}}
    {{include "layouts/now_playing"}}
{{end}}

{{define "input_form"}}
    <form role="form" id="link_form" method="post" action="">
        <div class="form-group">
            <label for="submit_box">Enter a YouTube Link:</label>
            <input id="submit_box" type="text" class="form-control" name="submit_box">
        </div>

        <button id="submit_btn" class="btn-default btn-lg">Submit Link</button>
    </form>
{{end}}

{{define "song_queue"}}
    <div class="row" id="queue_container">
        {{include "layouts/queue"}}
    </div>
{{end}}
