{{define "head"}}
    <title>{{.title}}</title>
{{end}}

{{define "now_playing"}}
    <div class="jumbotron">
        <img src="/static/img/ytbox_tilt_white.svg" alt="yt_box logo" class="img-responsive" id="logo">
    </div>
{{end}}

{{define "input_form"}}
    <form role="form" id="link_form" method="post" action="">
        <div class="form-group">
            <label for="room_name_box">Name of your yt-box room:</label>
            <input id="room_name_box" type="text" class="form-control" name="room_name_box" value="{{.room_name}}">
            <br>
            <label for="user_name_box">Set your display name:</label>
            <input id="user_name_box" type="text" class="form-control" name="user_name_box" value="{{.user_name}}">
        </div>

        <button id="login_btn" class="btn btn-default btn-lg">Enter</button>
    </form>
{{end}}

{{define "song_queue"}}
{{end}}
