<div id="np" class="jumbotron" data-target="#banner_detail">
    <img src="/static/img/ytbox_sign_white.svg" alt="yt_box logo" class="img-responsive" id="banner_logo">
    <h2 id="np_placeholder">{{.now_playing}}</h2>
    {{if .has_song_playing}}
        <div id="banner_detail" >
            <p>Submitted by {{call $.transform_user_name .song .session_user_id}}
            <dt class="queue_tool">
                <li><a class="btn btn-default" href="https://www.youtube.com/watch?v={{.song.ServiceId}}" target="_blank"><span class="glyphicon glyphicon-export"></span></a></li>
                {{if call $.matches_session_user .song.UserId .session_user_id}}
                <li><button id="{{.song.SongId}}" type="button" class="btn btn-default skip_now_playing"><span class="glyphicon glyphicon-step-forward"></span></button></li>
                {{end}}
            </dt>
        </div>
    {{end}}
</div>
